body{
    margin: 0;
    text-align: center;
    background-image: url(./Assets/Abrahamj\ music\ Logo.jpeg);
}

.nav{
    display: flex;
    justify-content: center;
    background: #222;
    padding: 10px;
    justify-content: space-around;
}

.nav a{
    display: flex;
    color: antiquewhite;
    font-size: 16px;
    text-decoration: none;

}

.grid{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    
    

}

.box{
    background: #ddd;
    padding: 20px;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 30px;
    text-wrap: wrap;
}

footer{
    text-align: center;
    color: antiquewhite;
}
img{
    border-radius: 40px;
}

button{
    padding: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    border-radius: 40px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: #4caf50;
    color: #ddd;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    


}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px opx rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #222;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}

@media(max-width: 768px){
    .grid{
        grid-template-columns: 1fr;
    }
}

h3{
    font-family: cursive;
}
h1{
    font-family: cursive;
}

p{
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}